# Analysis of HerosOfPymoli Dataset

# Section 1: Setup

In [158]:
#Import Dependencies
import pandas as pd
import os

#Define relative path and read purchase_data.csv
path = os.path.join('Resources','purchase_data.csv')
df = pd.read_csv(path)

In [159]:
#Review contents of dataset
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [160]:
#Review columns data types and row numbers
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [161]:
#Verify we don't have rows with NaN
df.isna().any()

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [162]:
#Verify we don't have rows with NaN
df.isnull().any()

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

# Section 2: Player Count

In [163]:
#Players are based on SN so we will verify total number of players based on unique SN
unique_player = df['SN'].unique()

#Store total number of players in variable
total_player = len(unique_player)

#Visualize total number of players as datafram
total_playerdf = pd.DataFrame([{'Player Count':total_player}])
total_playerdf

   Player Count
0           576

# Section 3: Purchasing Analysis

In [164]:
#Get the number of unique items in the game based on Item ID
unique_items = df['Item ID'].unique()
total_items = len(unique_items)

#Get average purchase price
avg_price = df['Price'].mean()

#Get total number of purchases (each row is a purchase: number of observations)
total_purchase = len(df)

#Get total revenue
total_revenue = df['Price'].sum()

#Create Purchasing Analysis data frame
panalysisdf = pd.DataFrame([{'Number Unique Items': total_items,
                            'Avg Purchase Price':avg_price,
                            'Total Number Purchases':total_purchase,
                            'Total Revenue':total_revenue}])

#Format Avg Purchase Price and Total Revenue
panalysisdf['Avg Purchase Price']=panalysisdf['Avg Purchase Price'].map('${:.2f}'.format)
panalysisdf['Total Revenue']=panalysisdf['Total Revenue'].map('${:.2f}'.format)

#Visualize Purchasing Analysis data frame
panalysisdf

,Number Unique Items,Avg Purchase Price,Total Number Purchases,Total Revenue
0,179,$3.05,780,$2379.77

# Section 4: Demographics Analysis

In [165]:
#Create new df for players
playerdf = df[['SN','Gender','Age']]

#Drop duplicates to get unique count of players
playerdf = playerdf.drop_duplicates(subset=['SN'])

#Get percentage and count of male players
total_male = len(playerdf.loc[df['Gender']=='Male'])
percent_male = total_male/total_player*100

#Get percentage and count of female players
total_female = len(playerdf.loc[df['Gender']=='Female'])
percent_female = total_female/total_player*100

#Get percentage and count of Other / Non-Disclosed
total_other = len(playerdf.loc[df['Gender']=='Other / Non-Disclosed'])
percent_other = total_other/total_player*100

#Build Gender Analysis data frame
ganalysisdf = pd.DataFrame({'Total Count': [total_male, total_female,total_other,total_player],
                            '% of Players':[percent_male,percent_female,percent_other,100]},
                           ['Male','Female','Other / Non-Disclosed','TOTAL'])

#Format column % of Players
ganalysisdf['% of Players']=ganalysisdf['% of Players'].map('{:.2f}%'.format)

#Rename Axis
ganalysisdf.rename_axis('Gender', inplace=True)

#Visualize  Gender Analysis data fram
ganalysisdf

                       Total Count % of Players
Gender
Male                           484       84.03%
Female                          81       14.06%
Other / Non-Disclosed           11        1.91%
TOTAL                          576      100.00%

# Section 5: Purchase Analysis per Demographic

In [166]:
#Calculate Purchase Count per Gender
pcount_male = len(df.loc[df['Gender']=='Male'])
pcount_female = len(df.loc[df['Gender']=='Female'])
pcount_other = len(df.loc[df['Gender']=='Other / Non-Disclosed'])

#Calculate Average Purchase Price per Gender
pavg_male = df.loc[df['Gender']=='Male']['Price'].mean()
pavg_female = df.loc[df['Gender']=='Female']['Price'].mean()
pavg_other = df.loc[df['Gender']=='Other / Non-Disclosed']['Price'].mean()

#Calculate Total Purchase Value per Gender
ptotal_male = df.loc[df['Gender']=='Male']['Price'].sum()
ptotal_female = df.loc[df['Gender']=='Female']['Price'].sum()
ptotal_other = df.loc[df['Gender']=='Other / Non-Disclosed']['Price'].sum()

#Calculate Average Purche Total per Person per Gender
ptotalavg_male = ptotal_male/total_male
ptotalavg_female = ptotal_female/total_female
ptotalavg_other = ptotal_other/total_other

#Build Purchase Analysis per Demographics data frame
pdemanalysisdf = pd.DataFrame({'Purchase Count': [pcount_male, pcount_female,pcount_other],
                            'Avg Purchase Price':[pavg_male,pavg_female,pavg_other],
                            'Total Purchase Price':[ptotal_male,ptotal_female,ptotal_other],
                            'Avg Purchase Total per Person':[ptotalavg_male,ptotalavg_female,ptotalavg_other]},
                           ['Male','Female','Other / Non-Disclosed'])

#Format column Avg Purchase Price, Total Purchase Price, and Avg Purchase Total per Person
pdemanalysisdf['Avg Purchase Price']=pdemanalysisdf['Avg Purchase Price'].map('${:.2f}'.format)
pdemanalysisdf['Total Purchase Price']=pdemanalysisdf['Total Purchase Price'].map('${:.2f}'.format)
pdemanalysisdf['Avg Purchase Total per Person']=pdemanalysisdf['Avg Purchase Total per Person'].map('${:.2f}'.format)

#Rename Axis
pdemanalysisdf.rename_axis('Gender', inplace=True)

#Visualize Purchase Analysis per Demographics data frame
pdemanalysisdf

,Purchase Count,Avg Purchase Price,Total Purchase Price,Avg Purchase Total per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Section 6: Age Demographics

In [174]:
#Braking data into 8 bins of 4 years
#<10, 10-14, 15-19, 20-24,25-29,30-34,35-39,40+
age_bins = [6,9,14,19,24,29,34,39,45]
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
playerdf['Age_Range'] = pd.cut(playerdf['Age'],bins = age_bins,labels=age_labels)

#Create new dataframe based on Age_Range
agedf = playerdf.groupby(by='Age_Range').count()
agedf.drop(['SN','Gender'], axis=1,inplace=True)
agedf.rename(columns={'Age':'Total Count'}, inplace=True)

#Add Percentage
agedf

           Total Count
Age_Range
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

In [168]:
df['Age'].max()

45

In [169]:
df['Age'].min()

7